<%= form_for(@lane) do |f| %>
  <% if @lane.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lane.errors.count, "error") %> prohibited this lane from being saved:</h2>

      <ul>
      <% @lane.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.number_field :place %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
